@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  /* Hide the scrollbar for Webkit-based browsers */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


/* body { */
  /* margin: 0; */
  /* background-color: #282c34 !; */
  /* background: transparent !important; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','system-ui',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
