<!doctype html><html lang="en"><head><meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="theme-color" content="#000000"/>
<meta name="description" content="Web site created using create-react-app"/>
<title>Demo Page</title>
<script defer="defer" src="/dist/index.js"></script>
</head><body>

  <noscript>You need to enable JavaScript to run this app.</noscript></body><script>
!(function () {
      let e = document.createElement("script"),
        t = document.head || document.getElementsByTagName("head")[0];
      (e.src = "/dist/index.js"),
        (e.async = !0),
        (e.onload = () => {
          window.ChatbotWidget.default({
            rasaServerUrl: "http://localhost:4000/ask",         
            userId: "9", 
          
            // initialPayload: "/greet",
            // metadata: {},
        
//   botSubTitle: "Information Retrieval Assistance ",
//   botMsgBackgroundColor: "#004589",
//   botResponseDelay: "",
//   chatHeaderCss: {
//     textColor: "#89c4ff",
//     backgroundColor: "#08043a",
//     enableBotAvatarBorder: true,
//     botAvatarBorderRadius: "50%",
//   },
//   chatHeaderTextColor: "#08043a",
//   botMsgColor: "white",
//   userMsgColor: "white",
//   buttonsCss: {
//     color: "white",
//     backgroundColor: "	#004589",
//     borderColor: "#4b5563",
//     borderWidth: "0px",
//     borderRadius: "999px",
//     hoverBackgroundColor: "white",
//     hoverColor: "#4b5563",
//     hoverborderWidth: "1px",
//     enableHover: false,
//             },
          

          });
        }),
        t.insertBefore(e, t.firstChild);
    })();</script></html>